# OS
.DS_Store
Thumbs.db

# Python / Backend
venv/
__pycache__/
*.py[cod]
*.pyo
.env
.env.local
*.egg-info/
.eggs/
dist/
build/

# Node / Frontend
node_modules/
dist/
.env
.env.local
.env.*.local
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
